<div class="header">
    <div class="logo ml-2"> <img src="assets/images/Logo.jpeg" alt="Logo Image" style="position: absolute;"> </div>
    <div class="dashboard" [routerLink]="''">
        <i class="bi bi-speedometer p-1"></i><h1>Hello, This is a Demo Application</h1>
    </div>
    <div class="user">
        <div class="user-name mr-3" [routerLink]="'/dashboard/employee'" title="Employees Management"><i class="bi bi-person-gear" style="font-size: 35px;"></i><br></div>
        <div class="user-name" title="Please contact IT support.">
            <i class="bi bi-question-circle-fill p-2"></i><br>
            <i>help</i>
        </div>
        <div class="user-image"> <button mat-fab color="primary" title="Exit" (click)="logOut()">Logout</button> </div>
    </div>
</div>
