<div style="width: 887px;">
    <canvas id="myChart"></canvas>
</div>
<div style="justify-content: center; display: flex; padding-top: 5px;">
    <h3 style="margin-right: 50px; padding-top: 2%;">Collection This Year</h3>
    <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [(value)]="selectedYear" (selectionChange)="onYearChange()">
            <mat-option value="2022">2025</mat-option>
            <mat-option value="2022">2024</mat-option>
            <mat-option value="2023">2023</mat-option>
        </mat-select>
    </mat-form-field>
</div>
  